legend{
	text-align: center;
	color: #000000;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#reecouter{
	text-align:left;
	width:100%;
}
legend button{
	width:100%;
	height:40px;
	margin-bottom:15px;
	margin-left:-100px;
}
button:hover{
	color: #CC4200;
}
fieldset{
	width: auto;
	clear: both;
	border: 1.3px solid black;
}
label{
	clear:both;
	display: inline;
	margin-top: 10px;
	color: #000000;
	float:left;
	overflow: hidden;
	width:20%;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
input,select,textarea{
	display: block;
	margin-top: 10px;
	border: 1.3px solid black;
	width: 50%;
	margin-left: 0px;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
textarea{
	height:70px;
}
span{
	color: #CC4200;
}
#enregistrer{
	clear:both;
	width: 25%;
	margin-top: 15px;
	margin-left: 0.5%;
	font-family:Arial;
	font-weight:bold;
	font-size: 20px;
}
#annuler{
	clear:both;
	width: 25%;
	margin-top: 15px;
	font-family:Arial;
	font-weight:bold;
	font-size: 20px;
}