body{
	margin: 0 auto;
	width: 80%;
}
.head img{
		width: 20%;
}
.menu{
	float: left;
	width: 20%;
	background-color: #CC4200;
}
.menu > ul > li{
	list-style: none;
	color: #FFFFFF;
	/*font-family: "Courier New", Lucida Console, Monospace;*/
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Arial;
	font-weight:bold;
	font-size: 16px;
	margin-left: -30px;
}

.menu > ul > li > i:hover {
  transform: rotate(45deg);
}
.phrase,.type{
	padding-bottom: 15px;
}
.enregistrer{
	padding-top: 10px;
	padding-bottom: 10px;
}
.liste{
	padding-bottom: 0px;
}
.menu > ul > li > ul {
	list-style: none;
	float: left;
}
.both{
	clear: both;
}
.menu li > ul{
	display: none;
}
.menu li:hover ul{
	display: block;
}
.menu li:hover{
	color: black;
}
.menu > ul > li > ul > li > a{
	/*font-family: "Courier New", Lucida Console, Monospace;*/
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Arial;
	font-weight:bold;
	font-size: 12px;
	display: block;
	text-decoration: none;
	color: white;
}
.menu > ul > li > ul > li > a:hover{
	color: black;
}
ul i{
	font-size: 15px;
}
.menu > ul > li > ul > li > i:hover{
	color: black;
}
.zone_affichage{
	float: right;
	width: 80%;
	background-color: #CC4200;
	height: 50px;
}
input{
	float: right;
	text-align: center;
	height: 45px;
	width: 30%;
	color: #CC4200;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
.button{
	margin-top: 0px;
	float: right;
	height: 51px;
	width: 5%;
	margin-left: -5px;
}
.droite{
	float: right;
}
.gauche{
	float: left;
	margin-left: 45%;
}
.gauche i{
	color: white;
	font-size: 30px;
}
.gauche i:hover{
	color: black;
}
.gauche .user{
	margin-right: 60px;
}
.head{
	background-color: #CC4200;
	height: 150px;
}
.libre{
	height: 18px;
	text-align: center;
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#mainFrame{
	width: 100%;
}
