.CSSTableGenerator {
clear: both;
margin:1%;
padding:0px;
width:99%;
border:1px solid #000000;
margin-top : 10px;
border-radius: 5px;
}
caption{
	color : #000;
	font-family:Arial;
	font-weight:bold;
	font-size: 17px;
}
.CSSTableGenerator table{
width:100%;
height:100%;
}

.CSSTableGenerator tr:hover td{
background-color:#FFFF66;
}
.CSSTableGenerator td{
vertical-align:middle;
background-color:;
border:1px solid #000000;
border-width:0px 1px 1px 0px;
text-align:left;
padding:7px;
font-size:13px;
font-family:Arial;
font-weight:bold;
color:#000000;
text-align: center;
}
.CSSTableGenerator tr:last-child td{
border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child{
border-width:0px 0px 0px 0px;
}
.CSSTableGenerator thead{
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #000) );
border:0px solid #000000;
text-align:center;
border-width:0px 0px 1px 1px;
font-size:14px;
font-family:Arial;
font-weight:bold;
color:#ffffff;
line-height: 25px;
}
.CSSTableGenerator tbody i{
	font-size: 40px;
}
#edit{
	font-size: 30px;
	color:#CC4200;
}
#plus{
	font-size: 30px;
	color:#CC4200;
}
#delete{
	font-size: 30px;
	color:red;
}
#update{
	width: auto;
	clear: both;
	border: 1.3px solid black;
	display:none;
}
#succes{
	width: auto;
	clear: both;
	height:30px;
	display:none;
	text-align:center;
	color:#CC4200;
}
#supprimer{
	width: auto;
	clear: both;
	height:30px;
	display:none;
	text-align:center;
	color:#CC4200;
}
#modifier{
	display: block;
	border: 1.3px solid black;
	width: 50%;
	margin-left: 0px;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#firstName{
	display: block;
	border: 1.3px solid black;
	width: 50%;
	margin-left: 0px;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#lastName{
	display: block;
	border: 1.3px solid black;
	width: 50%;
	margin-left: 0px;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#login{
	display: block;
	border: 1.3px solid black;
	width: 50%;
	margin-left: 0px;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#password{
	display: block;
	border: 1.3px solid black;
	width: 50%;
	margin-left: 0px;
	font-family:Arial;
	font-weight:bold;
	font-size: 15px;
}
#enregistrer{
	clear:both;
	margin-top: 15px;
	width: 50%;
	font-family:Arial;
	font-weight:bold;
	font-size: 20px;
}
button:hover{
	color: #CC4200;
}

