<!DOCTYPE html>
<html>
<head>
	<title>Orthopro liste des exercices</title>
	<link href="../../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="../../css/TableCSSCode.css" rel="stylesheet" type="text/css" />
	<meta charset="utf-8"/>
</head>
<body>
	<div id="app">
		<table class = "CSSTableGenerator">
			<caption>Liste des types d'exercices</caption>
			<thead>
				<tr>
					<th>Type</th>
					<th>Audio</th>
				</tr>
			</thead>

			<tbody>
				<tr v-for="phrase in phrases">
					<td>{{ phrase.type.description }}</td>
					<td><a href='/dictees/insertDictee/{{ phrase.idPhrase }}' v-on:click="play(phrase)"><i class="fa fa-play" aria-hidden="true" title="JOUER" id = "plus"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script> 
	<script>
		Vue.prototype.$http = axios;
			new Vue({
				el:"#app",
				data:{
					phrases:[]
				},
				created () {
               		var vm = this;
               		this.$http.get('/sentences/getSentenceByType').then(function (response) {
              			vm.phrases = response.data;
              		});
  	       		},
  	       		methods:{
  	       			play(phrase){					
  	       				let id = phrase.idPhrase;
  	       				let url = '/sentences/play/' + id;
               			this.$http.get(url).then(function (response) {});
               		}
  	       		}
			});
	</script>
</body>
</html>