<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orthopro enregistrement des exercices</title>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <link href="../../css/form.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="app">
	  <fieldset>
       	 	<textarea id="phrase" v-model="dictee.reponse" autocomplete="off" placeholder="Tapez votre reponse ici..."></textarea>
       	 	<input type="hidden" v-model="dictee.sentence" value="{{phrase.idPhrase}}" autocomplete="off"/>
       	 	<input type="hidden" v-model="dictee.user" value="{{user.idUser}}" autocomplete="off"/>
       	 	<button type="reset" v-on:click="start()" id="annuler">VERIFIER VOTRE REPONSE</button> <button  v-on:click="play(phrase)" id="enregistrer">RE-ECOUTER</button>
      </fieldset>     
    </div>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script> 
	 <script>
		Vue.prototype.$http = axios;
			new Vue({
				el:"#app",
				data:{
					phrase:[],
					user:[],
					dictee:{user:'',sentence:'',reponse:''}
				},
				created () {
               		var vm = this;
               		this.$http.get('/sentences/findPhraseById').then(function (response) {
              			vm.phrase = response.data;
              		});
              		
              		this.$http.get('/users/getUserById').then(function (response) {
              			vm.user = response.data;
              		});
  	       		},
      	       	methods:{
  	       			play(phrase){					
  	       				let id = phrase.idPhrase;
  	       				let url = '/sentences/play/' + id;
               			this.$http.get(url).then(function (response) {});
  	       			},
  	       			start(){
  	       			console.log(this.dictee);
       					this.$http.post('/dictees/insertDictee',this.dictee).then(response => {});
  	       			}
  	       		}
			});
	</script>
 </body>
</html>