<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orthopro enregistrement des exercices</title>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <link href="../../css/form.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="app">
	<fieldset v-if="{{ user.categorie }} == admin"><legend>ENREGISTREMENT DES EXERCICES</legend>
        <label for="phrase">Phrase : <span> * </span> </label><textarea id="phrase" v-model="phrases.textePhrase" autocomplete="off"></textarea><br/>
        <label for="indice">Indice correction : <span> * </span> </label><textarea id="indice" v-model="phrases.indiceCorrection" autocomplete="off"></textarea><br/>
        <label for="regle">Regle de correction : <span> * </span> </label><textarea id="regle" v-model="phrases.regleCorrection" autocomplete="off"></textarea><br/>
        <label for="type">Type difficulté  : <span> * </span> </label> 
          	 <select v-model="phrases.type" id="type">
          	    <option value="" selected="selected">Sélectionnez</option>
        		<option v-for="type in types" value="{{type.idType}}">{{type.description}}</option>
       		 </select>
        <button v-on:click="addSentence()" id="enregistrer">ENREGISTRER</button> <button type="reset" id="annuler">ANNULER</button>
    </fieldset>
    </div>
    
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script> 
        
      <script>
      	Vue.prototype.$http = axios;
      	new Vue({
      		el:'#app',
      		data:{
      		    phrases:{textePhrase:'',indiceCorrection:'',regleCorrection:'',type:''},
      		    user:[],
      			types:[]
      		},
      		created(){
      			var vm = this;
      			this.$http.get('/types/getAllTypes').then(function(response){ vm.types = response.data});
      			
      			              		
              	this.$http.get('/users/getUserById').then(function (response) {
              		vm.user = response.data;
              	});
      		},
      		methods:{
				addSentence(){
				    let newSentence = {textePhrase:this.phrases.textePhrase, indiceCorrection:this.phrases.indiceCorrection, regleCorrection:this.phrases.regleCorrection, type:this.phrases.type};
       				this.$http.post('/sentences/insertSentence',this.phrases).then(response => {});
       				this.phrases={textePhrase:'',indiceCorrection:'',regleCorrection:'',type:''}
				}
      		}
      	});
      </script>
</body>
</html>