<!DOCTYPE html>
<html>
<head>
	<title>Accueil orthopro</title>
	<meta charset="utf-8"/>
	<link href="../../css/style.css" rel="stylesheet" type="text/css"/>
	<link href="../../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="../../css/TableCSSCode.css" rel="stylesheet" type="text/css" />
	
	<div class="head"><img src="../../css/upem.png" height="150" alt="logo upem"/></div>
	<div class="libre">Bienvenue dans orthopro</div>
</head>
<body>
	<div id="app">
		<div class="menu">
			<ul>
				<li class="phrase"><i class="fa fa-times" aria-hidden="true"></i> EXERCICES
					<ul>
						<li class="enregistrer"><a href="/sentences/insertSentence" target="mainFrame" v-if="{{ user.categorie }} == admin"><i class="fa fa-plus-square" title = "ENREGISTREMENT"></i> ENREGISTRER</a></li>
						<li class="liste"><a href="/sentences/doExercise" target="mainFrame"><i class="fa fa-list" title = "LISTE"></i> FAIRE EXERCICE</a></li>
					</ul>
					<p class="both"> </p>
				</li>

				<li class="type"><i class="fa fa-times" aria-hidden="true"></i> TYPES
					<ul>
						<li class="enregistrer"><a href="/types/insert" target="mainFrame" v-if="{{ user.categorie }} == admin"><i class="fa fa-plus-square" title = "ENREGISTREMENT"></i> ENREGISTRER</a></li>
						<li class="liste"><a href="/types/listeType" target="mainFrame"><i class="fa fa-list" title = "LISTE"></i> TYPES DISPOS</a></li>
					</ul>
					<p class="both"> </p>
				</li>

				<li class="" v-if="{{ user.categorie }} == admin"><i class="fa fa-times" aria-hidden="true"></i> UTILISATEURS 
					<ul>
						<li class="enregistrer"><a href="/users/insertUser" target="mainFrame"><i class="fa fa-plus-square" title = "ENREGISTREMENT"></i> ENREGISTRER</a></li>
						<li><a href="/users/listUsers" target="mainFrame"><i class="fa fa-list" title = "LISTE"></i> LISTE</a></li>
						<span> </span>
					</ul>
					<p class="both"> </p>
				</li>
			</ul>
		</div>
		<div class="zone_affichage">

			<p class="gauche">
				<a href="/users/detail" class="user" target="mainFrame"><i class="fa fa-user" aria-hidden="true" title="PROFIL"></i></a>
				<a href="/orthopro/logout"><i class="fa fa-power-off" aria-hidden="true" title="LOGOUT"></i></a>
			</p>

			<p class="droite">
				<div>
					<a href="/sentences/searchSentence" target="mainFrame"><button type="search" class="button" v-on:click="search()"><i class="fa fa-search" aria-hidden="true"></i></button></a><input type="text" v-model="type.description"  placeholder="RECHERCHER" class="input" />
				</div>
			</p>
	       <iframe id="mainFrame" scrolling="yes"  width="" height ="800px" name="mainFrame" marginwidth="0" marginheight="0" frameborder="0" ></iframe>
		</div>
		<span> </span>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script> 
	<script>
		Vue.prototype.$http = axios;
			new Vue({
				el:"#app",
				data:{
					user:[],
					type:{description:''}
				},
			methods:{
      			search(){
      				var url = '/sentences/sentencesByType/' + this.type.description;
       				this.$http.get(url).then(response => {});
       				this.type = {description:''}
      			}
      		},
			created () {
               		var vm = this;
               		this.$http.get('/users/getUserById').then(function (response) {
              			vm.user = response.data;
              		});

  	       	}
		});
	</script>
</body>
</html>