<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orthopro enregistrement des types des exercices</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../css/form.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="app">
	<fieldset v-if="{{ user.categorie }} == admin"><legend>ENREGISTREMENT DES TYPES</legend>
        <label id="description">Description <span> * </span> : </label> <input type="text" v-model="type.description" id="description" autocomplete="off"/>
        <button v-on:click="addType()" id="enregistrer">ENREGISTRER</button> <button type="reset" id="annuler">ANNULER</button>
   </fieldset>
  </div>
	
		
    <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script> 
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script>
      	Vue.prototype.$http = axios;
      	new Vue({
      		el:'#app',
      		data:{
      			user:[],
      			type:{description:''}
      		},
      		created () {
               var vm = this;             
               this.$http.get('/users/getUserById').then(function (response) {
              		vm.user = response.data;
              });
  	       },
      		methods:{
      			addType(){
       				this.$http.post('/types/insert',this.type).then(response => {});
       				this.type = {description:''}
      			}
      		}
      	});
      </script>
</body>
</html>

