<!DOCTYPE html>
<html>
<head>
	<title>Orthopro liste des exercices</title>
	<link href="../../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="../../css/TableCSSCode.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="app">
	<table class = "CSSTableGenerator">
		<caption>Liste des types d'exercices</caption>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Login</th>
				<th>Date d'inscription</th>
				<th>Derniere connexion</th>
			</tr>
		</thead>

		<tbody>
			<tr v-for="user in users">
				<td>{{ user.firstName }}</td>
				<td>{{ user.lastName }}</td>
				<td>{{ user.login }}</td>
				<td>{{ user.dateInscription }}</td>
				<td>{{ user.derniereConnexion }}</td>
			</tr>
		</tbody>
	</table>
	</div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script> 
	<script>
		Vue.prototype.$http = axios;
			new Vue({
				el:"#app",
				data:{
					users:[],
				},
				created () {
               		var vm = this;
               		this.$http.get('/users/getAllUsers').then(function (response) {
              			vm.users = response.data;
              		});
  	       		}
			});
	</script>
</body>
</html>